/* root style*/
:root {
    --primary: #0D2F44;
    --secondary: #FBB03B;
    --blue: #29ABE2;
    --white: #FFFFFF;
    --black: #000000;
}

@media screen and (max-width: 768px) {
    .openCloseMenu {
        display: block;
        position: fixed;
        background-color: var(--blue);
        left: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        margin: 10px;
    }


    .breadcrum {
        flex-basis: 30%;
    }

    #menuClose {
        color: #fff;
        background: red;
        margin: 0;
        float: right;
        padding: 10px;
        font-size: 32px;
        cursor: pointer;
        display: block;
    }


    nav ul {
        margin-top: 50px;
        margin-left: 0;
        padding: 0;
    }

    nav li {
        display: block;
        padding: 10px 0;
    }

    nav li:last-child {
        margin-left: 0;
        padding: 10px 10px;
        width: 30%;
        margin: 20px 0;
    }

    nav li a {
        font-size: 21px;
    }

    nav {
        display: none;
    }

    .brand-details {
        flex-basis: 70%;
    }

    .breadcrum .material-icons {
        display: block;
    }

    .brand-details a {
        grid-template-columns: 12% 1fr;
    }

    #hero,
    .aboutus-content,
    .services-section,
    .review {
        flex-direction: column;
    }

    #hero {
        height: auto;
    }

    .hero-image {
        display: none;
    }

    #hero .hero-content h2 {
        font-size: 35px;
        text-align: center;
        margin-bottom: 20px;
    }

    #hero .hero-content p {
        text-align: center;
    }

    .hero-btn {
        text-align: center;
    }

    .extra-items {
        flex-basis: 45%;
    }

    .services-order {
        grid-template-columns: 100%;
    }

    .customer {
        flex-direction: column;
        position: static;

    }

    .review {
        gap: 0;
        border: none;
        padding-left: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .review-writeup {
        text-align: center;
    }

    .image-card {
        justify-content: center;
    }

    .newsletter input[type="text"] {
        width: 250px;
    }

    .links-footer ul {
        flex-wrap: wrap;
    }

    .blog-hero h1 {
        font-size: 45px;
        margin: 5px 0;
    }

    .blog-hero p {
        width: 90%;
        margin-bottom: 20px;
        color: #fff;
    }

    .card-wrap {
        flex-direction: column;
    }

    .blog__image img {
        height: 200px;
    }

    .blogs h1 {
        font-size: 16px;
    }

    .form-section h1 {
        font-size: 25px;
    }

    .form-section h2 {
        font-size: 18px;

    }

    .contact-image img {
        border-radius: 300px;
    }

    .contact-hero {
        align-items: flex-start;

    }

}


@media screen and (max-width: 570px) {
    .main-container {
        margin: 3%;
    }

    .extra-details,
    .how-it-work-wrapper {
        flex-direction: column;
    }

    .icon-extra img {
        width: 120px;
        top: -80px;
    }

    .how-it-work-wrapper {
        margin-bottom: 80px;

    }

    .how-it-work-card {
        width: 100%;
    }


    .how-it-works h2 {

        margin: 70px 0 20px 0;
    }

    .review {
        width: 90%;
    }

    .image-card {
        gap: 20px;

    }

    .newsletter {
        padding: 20px 3%;
        text-align: center;
    }

    .newsletter input[type="text"] {
        width: 100%;
        margin-bottom: 20px;

    }

    .openCloseMenu {
        width: 90%;
        margin: 0;
        padding: 20px;
    }

    .brand-details a {
        grid-template-columns: 20% 1fr;
    }

    .service-list {
        padding: 10px 0;
    }

    .contact-hero,.form-group  {
        flex-direction: column;
    }

    .form-section h1 {
        font-size: 20px;
    }
}